@import "tailwindcss";

@font-face {
    font-family: "Montserrat";
    src: url('/public/font/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
}

@layer utilities {
    .animate-in {
        animation-fill-mode: both;
    }

    .slide-in-from-top {
        animation-name: slideInFromTop;
    }

    .slide-in-from-bottom {
        animation-name: slideInFromBottom;
    }

    .duration-300 {
        animation-duration: 300ms;
    }

    .duration-700 {
        animation-duration: 700ms;
    }

    .delay-100 {
        animation-delay: 100ms;
    }

    .delay-200 {
        animation-delay: 200ms;
    }
    
    .delay-300 {
        animation-delay: 300ms;
    }

    .text-preto {
        color: #263238;
    }

    .bg-silver {
        background-color: #F5F7FA;
    }

    .text-l-grey {
        color: #717171;
    }

    .text-d-grey {
        color: #4D4D4D;
    }

    .text-green {
        color: #43A046;
    }

    .bg-green {
        background-color: #43A046;
    }

    .border-green {
        border-color: #43A046;
    }

    .bg-l-green {
        background-color: #66BB69;
    }
}

@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}